.card {
  position: relative;
  width: 100px;
  height: 100px;
  background-color: var(--bg-color-2);
  border-radius: 0.5rem;

  text-align: center;
  opacity: 0.5;
}

.card:hover,
.card.active {
  opacity: 1;
}

.card div {
  width: 60%;
  height: 60%;
  position: absolute;
  top: -15px;
  left: 20%;
  border-radius: 0.5rem;

  display: flex;
  align-items: center;
  justify-content: center;
}

.card div i {
  color: #fff;
  font-size: 2rem;
}

.card p {
  color: var(--text-color-1);
  font-size: 1.2rem;
  padding-top: 50%;
}

@media (max-width: 700px) {
  .card {
    width: 80px;
    height: 80px;
  }
}
