.footer {
  background: var(--bg-color-2);
  padding: 10px;
}

.footer .content {
  display: flex;
  justify-content: center;
}

.footer .content p {
  font-size: 1.5rem;
  padding: 2rem;
  text-align: center;
  color: var(--text-color-1);
}

.footer .content p span {
  color: var(--main-color);
}
