.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: var(--bg-color-2);
  padding: 1.5rem 9%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1000;
  box-shadow: var(--box-shadow);
}

.header .logo {
  display: flex;
  align-items: center;
  font-size: 1.3rem;
  font-weight: bolder;
  color: var(--text-color-1);
}

.header .logo img {
  width: 50px;
  padding-right: 15px;
}

.header .icons {
  display: flex;
}
.header .icons div {
  height: 4.5rem;
  line-height: 4.5rem;
  width: 4.5rem;
  text-align: center;
  border-radius: 50%;
  font-size: 1.7rem;
  color: var(--text-color-1);
  background: var(--bg-color-1);
  margin-left: 1.5rem;
  cursor: pointer;
}

.header .icons div:hover {
  background: var(--main-color);
  color: #fff;
}

.header .navbar {
  position: absolute;
  top: 115%;
  right: 9%;
  background: var(--bg-color-2);
  border-radius: 0.5rem;
  box-shadow: var(--box-shadow);
  width: 25rem;
  padding: 1rem;
  display: none;
}

.header .navbar.active {
  display: block;
}

.header .navbar a {
  display: block;
  font-size: 2rem;
  padding: 1rem;
  color: var(--text-color-1);
  border-radius: 0.5rem;
}

.header .navbar a:hover {
  color: var(--text-color-1);
  padding-left: 2rem;
  background: var(--bg-color-1);
}
