.profileContainer {
  position: relative;
  display: flex;
  align-items: center;
}

.profileContainer > img {
  width: 5.5rem;
  height: 5.5rem;
  border-radius: 50%;
}

.profileContainer div {
  margin-left: 1.5rem;
}

.profileContainer div p {
  font-size: 1.5rem;
  margin-top: 0.5rem;
  color: var(--text-color-1);
}

.profileContainer div p img {
  margin-right: 0.5rem;
}
