.room {
  flex: 1;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 6.25rem;
  gap: 6.25rem;
  align-content: center;
  margin-top: 4rem;
}

.cardBox {
  margin-top: 2rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  text-align: center;
}

@media (max-width: 700px) {
  .room {
    display: block;
  }
}
